{% extends 'adminbase.html.twig' %}

    
{% block content %}

<!-- table starts here -->

<div class="padding-20">
<div class="container-fluid">
<div class="row paddleft-18">
</div>
  <div class="bg-white table-bg">
 
  <div class="row">
  <div class="col-sm-6">
    <h2>Purchase log</h2>
    </div>
     <div class="col-sm-6 text-right">
   
    </div>
    </div>
    {{ grid(grid) }}
{% block grid_filters %}{% endblock %}
  </div>
  </div>
</div>
<!-- table ends here -->

 {% endblock %}