{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="col-lg-8 col-md-8 col-xs-12 col-sm-12"></div>
<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 form">
    <center>
        <h1 style="font-size:30px;line-height:40px;"> Password Already Requested </h1>
    <p>{{ 'resetting.password_already_requested'|trans }}</p>   
    </center>
</div>
{% endblock fos_user_content %}